body{

  background-color: #000000;
}

.gamja-flower-regular {
font-family: "Gamja Flower", sans-serif;
font-weight: 400;
font-style: normal;
}
  

.master-container {

  background-color: #f64b58;
  min-height: 100vh;
  grid-template-columns: 1fr 2px 1fr;
  gap: 3px;
  padding: 10px;
  display: flex; justify-content: center;
  align-items: flex-start;
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;

}
.box {
  display: inline-block;
  vertical-align: top;
  background-color: lightblue;
  margin: 10px 0;
  width: 80%;  
  border-radius: 8px;
}


.box1 {
  background-color: #ffffff;
  text-align: center;
  padding: 20px;
  margin-bottom: 5px;
    
}


.box2 {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
    width: 60%; 
    height: auto;

  

}
.divider {
  width: 7px;  
  background-color: #ffffff;  
  height: 100%; }

  .flip-container {
      perspective: 1000px; 
      display: flex;
justify-content: center; 
align-items: center; 
height: 300px;
    }
    
    .flip-card {
      width: 50%; 
      height: 50%;
      position: relative;
      transform-style: preserve-3d;
      transition: transform 0.6s; 
      transform-origin: center;

    }
    
    .flip-container:hover .flip-card {
      transform: rotatex(180deg); 
    }
    
    .flip-card img {
      width: 100%; 
      height: 100%; 
      position: absolute; 
      backface-visibility: hidden; 
      top: 0;
      left: 0;
    }
    
    .back {
      
      transform: rotatex(180deg); 
    }

    .mybutton{
      display: block;
          margin: 40px auto;  
          padding: 15px 30px;  
          font-size: 18px;  
          background-color: #ffffff ; 
          font-family: "Gamja Flower", sans-serif;
          color: #f64b58;  
          border: 3px solid #f64b58;  
          border-radius: 5px;  
          cursor: pointer;  
          transition: background-color 0.3s, border-color 0.3s;
    }

    .mybutton:hover {
      background-color: #f64b58;  
      border-color: #ffffff;
      color: #fff
    }

    @keyframes shake {
      0% {
          transform: translateX(0);
      }
      25% {
          transform: translateX(-5px);
      }
      50% {
          transform: translateX(5px);
      }
      75% {
          transform: translateX(-5px);
      }
      100% {
          transform: translateX(0);
      }
    }
    
    .shake-on-hover {
      transition: transform 0.2s ease;
    }
    
    .shake-on-hover:hover {
      animation: shake 0.5s ease-in-out;
    }
    
    
    .img-with-text {
      text-align: justify;
      width: 40%;
      margin: 0 auto;
    }
    
    .img-with-text img {
      display: block;
      margin: 0 auto;
    }
    
    
    @media (max-width: 768px) {
      .master-container {
          flex-direction: column;
          align-items: center;
      }
    
      .box2 {
          width: 90%;
      }
    
      .img-with-text {
          width: 100%;
      }
    
      .shake-on-hover {
          width: 50%;
      }
    }
    
    
    .box1, .box2 {
      max-height: 1000px; 
      overflow-y: auto;   
      padding: 20px;
      border-radius: 8px;
     
    }
    .box1::-webkit-scrollbar, .box2::-webkit-scrollbar {
      width: 8px;
    }
    
    .box1::-webkit-scrollbar-thumb, .box2::-webkit-scrollbar-thumb {
      background-color: #ffffff;
      border-radius: 10px;
    }
    
    .box1::-webkit-scrollbar-track, .box2::-webkit-scrollbar-track {
      background: #000000;
    }
    
    
    
    
    


  
    
