body{

    background-color: #322c4b;
}

.gamja-flower-regular {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
    

.master-container {

    background-color: #46344f;
    min-height: 100vh;
    grid-template-columns: 1fr 2px 1fr;
    gap: 3px;
    padding: 10px;
    display: flex; justify-content: center;
    align-items: flex-start;
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.box {
    display: inline-block;
    vertical-align: top;
    background-color: lightblue;
    margin: 10px 0;
    width: 80%;  
    border-radius: 8px;
}


.box1 {
    background-color: #322c4b;
    text-align: center;
    padding: 20px;
    margin-bottom: 5px;
      
}


.box2 {
    background-color: #89969f;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;

    

}
.divider {
    width: 7px;  
    background-color: #ffffff;  
    height: 100%; }

    .flip-container {
        perspective: 1000px; 
        display: flex;
  justify-content: center; 
  align-items: center; 
  height: 300px;
      }
      
      .flip-card {
        width: 50%; 
        height: 50%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.6s; 
        transform-origin: center;

      }
      
      .flip-container:hover .flip-card {
        transform: rotatex(180deg); 
      }
      
      .flip-card img {
        width: 100%; 
        height: 100%; 
        position: absolute; 
        backface-visibility: hidden; 
        top: 0;
        left: 0;
      }
      
      .back {
        
        transform: rotatex(180deg); 
      }

      .mybutton{
        display: block;
            margin: 40px auto;  
            padding: 15px 30px;  
            font-size: 18px;  
            background-color: #322c4b ; 
            font-family: "Gamja Flower", sans-serif;
            color: white;  
            border: 3px solid white;  
            border-radius: 5px;  
            cursor: pointer;  
            transition: background-color 0.3s, border-color 0.3s;
      }

      .mybutton:hover {
        background-color: #525c71;  
        border-color: #322c4b;
      }


    
      
